<ion-card *ngFor="let status of data">
  <ion-card-header>
    <ion-card-title>Status of cases</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <div style="display: flex; justify-content: space-around; text-align: center;">
      <div style="text-align: center;">
        <p><strong>Total cases</strong></p>
        <strong>{{ status.Total | number }}</strong>
      </div>
      <div style="text-align: center;">
        <p><strong>Resolved</strong></p>
        <strong>{{ status.Resolved | number }}</strong>
      </div>
      <div style="text-align: center;">
        <p><strong>Deaths</strong></p>
        <strong>{{ status.Deaths | number }}</strong>
      </div>
      <div style="text-align: center;">
        <p><strong>Hospitalized</strong></p>
        <strong>{{ status.hospitalized | number }}</strong>
      </div>
      <div style="text-align: center;">
        <p><strong>In ICU</strong></p>
        <strong>{{ status.ICU | number }}</strong>
      </div>
      <div style="text-align: center;">
        <p><strong>In ICU on a ventilator</strong></p>
        <strong>{{ status.ICU_ventilator | number }}</strong>
      </div>
    </div>
  </ion-card-content>
</ion-card>
